# Defaults
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets
*.[Cc]ache
!?*.[Cc]ache/

*.jfm
*.dbmdl


#Custom Ignores
**/*.js.map
Davis.LiveChat.Web/Content/LiveChat.js 
Davis.LiveChat.Web/Content/Lib/Helpers.js 
Davis.LiveChat.Web/Content/Lib/jQuery/jQuery.d.js 
Davis.LiveChat.Web/WebService/*.js 
Davis.LiveChat.Web/WebService/**/*.js 
