<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LiveChatEntities" connectionString="metadata=res://*/Database.LiveChatModel.csdl|res://*/Database.LiveChatModel.ssdl|res://*/Database.LiveChatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2017;initial catalog=LiveChat;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>